.profile_card {
  width: 100.8rem;
  height: 21.5rem;
  background-color: var(--whiteblue-bg);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
  margin-right: 8.6rem;
}
/*. rem-> rem 변환 방법 => 구글링해도 다른것 같음 */
/* padding 크기 잘 모르겠어서 비워둠
 배경색도 다시 한번 check하기 */

.image {
  width: 17.9rem;
  height: 17.9rem;
  left: -8.8rem;
  top: 1.8rem;

  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0rem 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  position: absolute;
  /* border-radius: 5.0rem => 둥글게 해서 사진처리해야하는지 아니면 네모로 받기*/
}

.content {
  position: absolute;
  left: 19rem;
}
.username {
  position: absolute;
  width: 73.2rem;
  height: 2.7rem;
  top: 1.5rem;
  font-family: Pretendard;
  font-size: 2.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  text-align: left;
  color: var(--footstep_blue);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.job {
  position: absolute;
  width: 73.2rem;
  height: 2.3rem;
  top: 4.9rem;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0.034rem;
  text-align: left;
  color: var(--gray-font);
}
.job span {
  margin-left: 0.5rem;
}
.introduction {
  position: absolute;
  width: 73.2rem;
  height: 5.2rem;
  top: 8.2rem;
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4rem;
  letter-spacing: 0.034rem;
  text-align: left;
  color: var(--font-black);
  overflow: hidden;
}

.date_box {
  position: absolute;
  top: 14.4rem;
}
.date {
  position: absolute;
  height: 2rem;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.6rem;
  letter-spacing: 0.032rem;
  text-align: left;
  color: var(--gray-font);
  margin-left: 0.6rem;
}
.line_4 {
  position: absolute;
  width: 73.2rem;
  height: 0.01rem;
  top: 17.9rem;
  background-color: rgba(152, 172, 206, 0.6);
}
.foot_box {
  position: absolute;
  top: 18.8rem;
  text-align: right;
  width: 73.2rem;
}
.Foot_print {
  width: 6.5rem;
  height: 2rem;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.032rem;
  text-align: right;
  color: var(--gray-font);
  margin-right: 0.5rem;
}
