.header {
  width: 100vw;
  height: 6rem;
  background-color: var(--white);
  padding-left: 4rem;
  padding-right: 5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  z-index: 100;
}

.block{
  width: 100vw;
  height: 6rem;
}

.logo {
  padding: 0.3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_close {
  background-image: url(../../icons/Menu.svg);
  width: 2.4rem;
  height: 2.4rem;
}

.icon_open {
  background-image: url(../../icons/Close.svg);
  width: 2.4rem;
  height: 2.4rem;
}

.logo_name {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.06rem;
  text-align: left;
  color: var(--font-black);
  margin-left: 1rem;
}

.start {
  color: var(--white);
  background-color: var(--footstep_blue);
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  margin-right: 1rem;
}

.search {
  background-image: url(../../icons/search.svg);
  width: 2.4rem;
  height: 2.4rem;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blind {
  display: none;
}