.footer {
  width: 100%;
  height: 25rem;
  padding: 2rem 0 4.4rem 0;
  background-color: var(--footstep_blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

.text_box {
  width: 64.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  margin: 0 auto;
  padding: 0;
}

.main {
  width: 3.3rem;
  height: 2rem;
  flex-grow: 0;
  font-family: NotoSans;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.01rem;
  text-align: left;
  color: var(--white);
}

.about_us {
  width: 6rem;
  height: 2rem;
  flex-grow: 0;
  font-family: NotoSans;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.01rem;
  text-align: left;
  color: var(--white);
}

.search_footstep {
  width: 10.5rem;
  height: 2rem;
  flex-grow: 0;
  font-family: NotoSans;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.01rem;
  text-align: left;
  color: var(--white);
}

.my_footstep {
  width: 8.7rem;
  height: 2rem;
  flex-grow: 0;
  font-family: NotoSans;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.01rem;
  text-align: left;
  color: var(--white);
}

.portfolio {
  width: 5.9rem;
  height: 2rem;
  flex-grow: 0;
  font-family: NotoSans;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.01rem;
  text-align: left;
  color: var(--white);
}

.line_3 {
  width: 80rem;
  height: 0.1rem;
  margin: 1.9rem auto 2.6rem;
  background-color: var(--grayblue-border);
}

.copyright_team_footstep_design_by_directed_by_jb {
  width: 33.3rem;
  height: 2rem;
  margin: 2.6rem auto 0;
  font-family: NotoSans;
  font-size: 1.2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.008rem;
  text-align: left;
  color: #cacaca;
}
