.side_bar {
  width: 25rem;
  height: 108vh;
  background-color: var(--whiteblue-bg);
  padding: 5.8rem 0 3rem 0;
  display: flex;
  flex-direction: row;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  background-color: var(--grayblue-border);
}