:root {
  --footstep_blue: #32465e;
  --white: #fff;
  --font-black: #343a40;
  --whiteblue-bg: #f8fafe;
  --darkblack-font: #424242;
  --gray-font: #737373;
  --light-blue: #e7eaee;
  --login-green-bg: #f0fdf4;
  --login-green-text: #15803d;
  --login-red-bg: #ffcece;
  --login-red-text: #ff2f2f;
  --grayblue-border: #999fa7;
}