#container {
    width: 100.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem 3rem;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}
#result_cnt {
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.9rem;
    letter-spacing: 0.6px;
    color: #000000;
}
